<div class="container">
    <div class="row" style="text-align:center;">
        <div class="col-md-12">
            <div style="margin-top: 25px;">
                <p>Mam na imię Krzysztof. Jeśli chciałbyś się dowiedzieć czym aktualnie się zajmuję, to dobrze trafiłeś.</p>
                <p>Jednakże strona jest teraz w budowie. Proszę, to numer telefonu: <b>512626155</b> i adres email: <b>rybkakrzysiek@o2.pl</b> </p>
                <p>Pozdrawiam inż. Krzysztof Rybka</p>
            </div>
        </div>
    </div>
</div>